*{
    margin: 0;
    padding: 0;
    font-family: Bitter;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
    margin: 0%;
    padding: 0%;
    font-family: Bitter;
    background-image: linear-gradient(90deg,#02410d,#0a0f0b);
}

/*---About me-------------------------------*/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.blog-heading span{
    color: #e3f1e6;
}
.blog-heading h1{
    font-size: 4.0rem;
    color: #ecf3ee;
    font-weight: 700;
}
.blog-container{
display: flex;
justify-content: right;
align-items: right;
margin: 5% 0px;
flex-wrap: wrap;
}
.blog-box{
    width: 500px;
    background-color: #0a0f0b;
    border: 1px solid #162018;
    margin: 10px;
}
.blog-img img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 20%;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #ecf3ee;
    font-size: 2rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 300;
    color: #ecf3ee;
}
.blog-text .blog-title:hover{
    color: rgb(175, 238, 183);
    transition: all ease 0.3s;
}
.blog-text p{
    color: #ecf3ee;
    font-size: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20%;
}
.blog-text a{
    color: #e3f1e6;
    font-size: 1.2rem;
}
.blog-text a:hover{
    color:rgb(175, 238, 183);
    transition: all ease 0.3s;
}

/*----------Contacts-----------------------------------------------------*/
#contacts{  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5%;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.contact-container{
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 20% 0px;
    flex-wrap: wrap;
}
.contact-box {
    width: 500px;
    background-color: #0a0f0b;
    border: 1px solid #162018;
    margin: 10px;
}